$theme-primary: #15364c;
$theme-primary-light: #2f6079;
$yellow-50: #f9f6f4;
$yellow-100: #e7e1d9;
$yellow-200: #e9e1d7;
$pink-100: #edcfcc;
$pink-50: #e8d0cd;
$blue-200: #a6c3d2;
$blue-100: #cadbe4;
$blue-300: #9fc4d4;
$blue-50: #cddbe3;
$grey-100: #979797;
$grey-50: #aaafb2;

html {
  font-size: 62.5%;
}

body {
  font-family: "ralewayregular";
  font-size: 1.4rem;
  color: $theme-primary;
  line-height: 1.4;
}
.row {
  margin-inline: auto;
  max-width: 1440px;
  display: block;
  width: 100%;
}

// common styles starts
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.m-t-auto {
  margin-top: auto;
}
.m-t-24 {
  margin-top: 24px;
}
.yellow-50-bg {
  background: $yellow-50;
}
.yellow-100 {
  color: $yellow-100;
}
.yellow-100-bg {
  background: $yellow-100;
}
.yellow-200 {
  color: $yellow-200;
}
.pink-100 {
  color: $pink-100;
}
.pink-50-bg {
  background: $pink-50;
}
.blue-50 {
  color: $blue-50;
}
.blue-50-bg {
  background: $blue-50;
}
.blue-100 {
  color: $blue-100;
}
.blue-200 {
  color: $blue-200;
}
.blue-200-bg {
  background: $blue-200;
}
.blue-300 {
  color: $blue-300;
}
.add-flex {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }
  &.flex-1 {
    > * {
      flex: 1;
    }
  }
  .flex-1 {
    flex: 1;
  }
  &.justify-center {
    justify-content: center;
  }
  &.gap-1 {
    gap: 1rem;
  }
  &.gap-2 {
    gap: 2rem;
  }
  &.gap-2d4 {
    gap: 2.4rem;
  }
  &.gap-2d5 {
    gap: 2.5rem;
  }
  &.gap-02 {
    gap: 0.02em;
  }
  &.gap-3 {
    gap: 3rem;
  }
  &.gap-3d5 {
    gap: 3.5rem;
  }
}
.text-center {
  text-align: center;
}
.sofia_prolight {
  font-family: "sofia_prolight";
}
.sofia_promedium {
  font-family: "sofia_promedium";
}

.palmer_lake_printregular {
  font-family: "palmer_lake_printregular";
}
.raleway-800 {
  font-family: "Raleway";
  font-weight: 800;
}

//? Mixins starts Here//
@mixin respondToTablet {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin respondTo($media) {
  @if $media== "xs" {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media== "sm" {
    @media only screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      @content;
    }
  } @else if $media== "md" {
    @media only screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
      @content;
    }
  } @else if $media== "lg" {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}

@mixin respondToAbove($media) {
  @if $media== "xs" {
    @media only screen and (min-width: $screen-xs-max) {
      @content;
    }
  } @else if $media== "sm" {
    @media only screen and (min-width: $screen-sm-min) {
      @content;
    }
  } @else if $media== "md" {
    @media only screen and (min-width: $screen-md-min) {
      @content;
    }
  } @else if $media== "lg" {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}

$screen-xs-min: 480px;

// Small screen / tablet
$screen-sm-min: 768px;

// Medium screen / desktop
$screen-md-min: 992px;

// Large screen / wide desktop
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

//? Mixins ends here//
@mixin raleway-800 {
  font-family: "Raleway";
  font-weight: 800;
}

.button {
  background: $pink-50;
  border: 0;
  height: 40px;
  line-height: 40px;
  font-family: "brandon_grotesquebold";
  font-size: 1.7rem;
  border-radius: 9px;
  padding: 0 8rem;
  display: inline-block;
  color: $theme-primary;
}
.radius-5 {
  border-radius: 5px;
}
//common styles ends
header {
  position: relative;

  .header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    > div {
      flex: 1;
    }
    .book {
      font-family: "brandon_grotesquebold";
      font-size: 1.7rem;
      a {
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 6px;
        letter-spacing: 0.2em;
      }
    }
    .logo {
      text-align: center;
    }
    .hamburger-wrapper {
      display: flex;
      flex-direction: row-reverse;
      cursor: pointer;
      .hamburger {
        &::after,
        &::before {
          content: "";
          width: 23px;
          height: 2px;
          background: #fff;
          display: block;
        }
        span {
          width: 23px;
          height: 2px;
          background: #fff;
          display: block;
          margin: 6px 0;
        }
      }
    }
  }
}
.theme-section {
  background: $theme-primary;
  min-height: calc(100vh - 12px);
  position: relative;
  display: grid;
  place-content: center;
  .logoWrapper {
    font-weight: bold;
    font-size: 12rem;
    display: grid;
    place-items: center;
    line-height: 1.1;
  }
  .indicator {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
}
.color-bar {
  display: flex;
  > div {
    flex: 1;
    height: 12px;
  }
}
.main-row {
  max-width: 744px;
  margin-inline: auto;
}
section {
  padding: 24px 0 36px;
}
main {
  .okay-humans {
    padding-bottom: 6rem;
    .button {
      margin-top: 4rem;
    }
  }
  h2 {
    font-size: 3.6rem;
    margin: 1.5em 0 1em;
    @include raleway-800;
    text-shadow: 2px 2px $pink-50;
  }
  h6 {
    font-family: "brandon_grotesquemedium";
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 24px 0;
    letter-spacing: 1.7px;
    &::after,
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: $grey-100;
      flex: 1;
      opacity: 0.23;
    }
  }
  .body-text {
    font-size: 1.6rem;
    color: $theme-primary-light;
    font-family: "sofia_prolight";
    letter-spacing: 0.17px;
    line-height: 1.65;
  }
  .our-story {
    padding: 24px 0 36px;
    display: grid;
    gap: 24px;
    color: $theme-primary-light;
    a {
      color: $theme-primary-light;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    .christy-layer {
      background: url(./images/christy-layer.svg) no-repeat right center;
      padding: 0 15px 15px 0;
    }
    .otherPeople-layer {
      background: url(./images/otherPeople-layer.svg) no-repeat right center;
      padding: 0 15px 15px 0;
    }
    .our-story-note {
      font-size: 2.8rem;
    }
  }
  .how-it-works {
    padding: 24px 0 36px;
    display: grid;
    gap: 24px;
    .work-title {
      @include raleway-800;
      font-size: 2.3rem;
    }
    img {
      align-self: center;
    }
    .button {
      margin: 4rem auto 0;
    }
  }
  .operating-partner {
    color: $theme-primary-light;
    .sub-note {
      margin: 24px 0 24px;
      font-size: 1.6rem;
    }
    ol {
      counter-reset: num;
      position: relative;
      column-count: 2;
      column-gap: 24px;
      li {
        position: relative;
        padding-left: 36px;
        margin-bottom: 15px;
        font-size: 1.6rem;
        &::before {
          content: counter(num);
          counter-increment: num;
          background: url(./images/bullet.svg) no-repeat 0 -4px;
          width: 24px;
          height: 23px;
          position: absolute;
          left: 0;
          top: 0;
          display: grid;
          place-content: center;
          font-family: "sofia_probold";
          color: #fff;
          font-size: 1.5rem;
          line-height: 1;
        }
      }
    }
  }
  .design-n-const {
    display: grid;
    gap: 24px;
  }
  .training-n-support {
    color: $theme-primary-light;
    .sub-note {
      margin: 24px 0 24px;
      font-size: 1.6rem;
    }
    ol {
      position: relative;
      column-count: 2;
      column-gap: 24px;
      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        font-size: 1.6rem;
        &::before {
          content: "";
          background: $blue-300;
          width: 7px;
          height: 7px;
          position: absolute;
          left: 0;
          top: 8px;
          border-radius: 50%;
        }
      }
    }
  }
  .sign-me-up {
    .form-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      margin-top: 24px;
      .full-width {
        grid-column: 1/-1;
      }
      .form-group {
        width: 100%;
        label {
          color: $theme-primary-light;
          font-family: "sofia_promedium";
          font-size: 1.6rem;
          display: block;
          margin-bottom: 8px;
        }
        input,
        select,
        textarea {
          width: 100%;
          max-width: 100%;
          border: 1px solid rgba(0, 0, 0, 0.08);
          height: 35px;
          line-height: 35px;
          padding: 0 10px;
          border-radius: 8px;
          box-sizing: border-box;
          &::placeholder {
            color: $grey-50;
            font-family: "sofia_proregular";
            font-size: 1.6rem;
            line-height: 1;
          }
        }
        select {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: url(./images/arrow.svg) no-repeat right 10px center;
        }
        textarea {
          resize: none;
          line-height: 1.5;
          field-sizing: content;
          min-height: 5lh;
        }
      }
    }
  }
}
footer {
  background: $theme-primary;
  margin-top: 100px;
  .footer-wrapper {
    gap: 12rem;
    margin-top: 12px;
    @include respondTo(xs) {
      flex-wrap: wrap;
    }
  }
  ul {
    padding: 0 15px;
    li {
      a {
        display: block;
        color: #fff;
        font-family: "brandon_grotesqueregular";
        font-size: 1.45rem;
        letter-spacing: 1.06px;
      }
      ~ li {
        margin-top: 1rem;
      }
    }
  }
}

//! RESPONSIVE STYLING //

@include respondTo(xs) {
  .add-flex {
    flex-wrap: wrap;
  }
  .theme-section {
    .logoWrapper {
      font-size: 5rem;
      img {
        max-width: 30px;
      }
    }
  }
}
