nav {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ralewayregular";
  font-size: 1.4rem;
  color: #15364c;
  line-height: 1.4;
}

.row {
  margin-inline: auto;
  max-width: 1470px;
  display: block;
  width: 100%;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.m-t-auto {
  margin-top: auto;
}

.m-t-24 {
  margin-top: 24px;
}

.yellow-50-bg {
  background: #f9f6f4;
}

.yellow-100 {
  color: #e7e1d9;
}

.yellow-100-bg {
  background: #e7e1d9;
}

.yellow-200 {
  color: #e9e1d7;
}

.pink-100 {
  color: #edcfcc;
}

.pink-50-bg {
  background: #e8d0cd;
}

.blue-50 {
  color: #cddbe3;
}

.blue-50-bg {
  background: #cddbe3;
}

.blue-100 {
  color: #cadbe4;
}

.blue-200 {
  color: #a6c3d2;
}

.blue-200-bg {
  background: #a6c3d2;
}

.blue-300 {
  color: #9fc4d4;
}

.add-flex {
  display: flex;
}
.add-flex.direction-column {
  flex-direction: column;
}
.add-flex.align-center {
  align-items: center;
}
.add-flex.justify-center {
  justify-content: center;
}
.add-flex.flex-1 > * {
  flex: 1;
}
.add-flex .flex-1 {
  flex: 1;
}
.add-flex.gap-1 {
  gap: 1rem;
}
.add-flex.gap-2 {
  gap: 2rem;
}
.add-flex.gap-2d4 {
  gap: 2.4rem;
}
.add-flex.gap-2d5 {
  gap: 2.5rem;
}
.add-flex.gap-02 {
  gap: 0.02em;
}
.add-flex.gap-3 {
  gap: 3rem;
}
.add-flex.gap-3d5 {
  gap: 3.5rem;
}

.text-center {
  text-align: center;
}

.sofia_prolight {
  font-family: "sofia_prolight";
}

.sofia_promedium {
  font-family: "sofia_promedium";
}

.palmer_lake_printregular {
  font-family: "palmer_lake_printregular";
}

.raleway-800 {
  font-family: "Raleway";
  font-weight: 800;
}

.button {
  background: #e8d0cd;
  border: 0;
  height: 40px;
  line-height: 40px;
  font-family: "brandon_grotesquebold";
  font-size: 1.7rem;
  border-radius: 9px;
  padding: 0 8rem;
  display: inline-block;
  color: #15364c;
  cursor: pointer;
}

.radius-5 {
  border-radius: 5px;
}

header {
  position: relative;
  background: #15364c;
}
header .header {
  display: flex;
  width: 100%;
  align-items: center;
  height: 63px;
}
header .header > div {
  flex: 1;
}
header .header .book {
  font-family: "brandon_grotesquebold";
  font-size: 1.7rem;
}
@media only screen and (max-width: 767px) {
  header .header .book {
    display: none;
  }
}
header .header .book a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 0.2em;
}
header .header .logo {
  text-align: center;
  font-size: 0;
}
header .header .hamburger-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
header .header .hamburger-wrapper .hamburger {
  cursor: pointer;
}
header .header .hamburger-wrapper .hamburger::after, header .header .hamburger-wrapper .hamburger::before {
  content: "";
  width: 23px;
  height: 2px;
  background: #fff;
  display: block;
}
header .header .hamburger-wrapper .hamburger span {
  width: 23px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 6px 0;
}

.theme-section {
  background: #15364c;
  min-height: calc(100dvh - 75px);
  position: relative;
  display: grid;
  place-content: center;
}
.theme-section .logoWrapper {
  font-weight: bold;
  font-size: 12rem;
  display: grid;
  place-items: center;
  line-height: 1.1;
  transform: translateY(-63px);
}
.theme-section .indicator {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.color-bar {
  display: flex;
}
.color-bar > div {
  flex: 1;
  height: 12px;
}

.main-row {
  max-width: 774px;
  margin-inline: auto;
  padding-inline: 15px;
}

section {
  padding: 3.6rem 0 6rem;
}

main .okay-humans .button {
  margin-top: 4rem;
}
main h2 {
  font-size: 3.6rem;
  margin: 1em 0 1em;
  font-family: "Raleway";
  font-weight: 800;
  text-shadow: 2px 2px #e8d0cd;
}
main h6 {
  font-family: "brandon_grotesquemedium";
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 24px 0;
  letter-spacing: 1.7px;
}
@media only screen and (max-width: 767px) {
  main h6 {
    font-size: 1.8rem;
  }
}
main h6::after, main h6::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #979797;
  flex: 1;
  opacity: 0.23;
}
main .body-text {
  font-size: 1.6rem;
  color: #2f6079;
  font-family: "sofia_prolight";
  letter-spacing: 0.17px;
  line-height: 1.65;
}
main .our-story {
  padding-block: 24px 36px;
  display: grid;
  gap: 24px;
  color: #2f6079;
}
main .our-story a {
  color: #2f6079;
  text-decoration: underline;
  text-underline-offset: 3px;
}
main .our-story .christy-layer {
  background: url(./images/christy-layer.svg) no-repeat right center;
  padding: 0 15px 15px 0;
}
main .our-story .otherPeople-layer {
  background: url(./images/otherPeople-layer.svg) no-repeat right center;
  padding: 0 15px 15px 0;
}
main .our-story .our-story-note {
  font-size: 2.8rem;
}
main .how-it-works {
  display: grid;
  gap: 24px;
}
main .how-it-works .work-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 2.3rem;
}
main .how-it-works img {
  align-self: center;
}
main .how-it-works .button {
  margin: 4rem auto 0;
}
main .operating-partner {
  color: #2f6079;
}
main .operating-partner .sub-note {
  margin: 24px 0 24px;
  font-size: 1.6rem;
}
main .operating-partner ol {
  counter-reset: num;
  position: relative;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  main .operating-partner ol {
    -moz-column-count: 2;
         column-count: 2;
  }
}
main .operating-partner ol li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 15px;
  font-size: 1.6rem;
}
main .operating-partner ol li::before {
  content: counter(num);
  counter-increment: num;
  background: url(./images/bullet.svg) no-repeat 0 -4px;
  width: 24px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  place-content: center;
  font-family: "sofia_probold";
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
}
main .design-n-const {
  display: grid;
  gap: 24px;
}
main .training-n-support {
  color: #2f6079;
}
main .training-n-support .sub-note {
  margin: 24px 0 24px;
  font-size: 1.6rem;
}
main .training-n-support ol {
  position: relative;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  main .training-n-support ol {
    -moz-column-count: 2;
         column-count: 2;
  }
}
main .training-n-support ol li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  font-size: 1.6rem;
}
main .training-n-support ol li::before {
  content: "";
  background: #9fc4d4;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 50%;
}
main .sign-me-up .form-wrapper {
  display: grid;
  gap: 24px;
  margin-top: 24px;
  -moz-column-count: 2;
       column-count: 2;
}
@media only screen and (min-width: 768px) {
  main .sign-me-up .form-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
main .sign-me-up .form-wrapper .full-width {
  grid-column: 1/-1;
}
main .sign-me-up .form-wrapper .form-group {
  width: 100%;
}
main .sign-me-up .form-wrapper .form-group label {
  color: #2f6079;
  font-family: "sofia_promedium";
  font-size: 1.6rem;
  display: block;
  margin-bottom: 8px;
}
main .sign-me-up .form-wrapper .form-group input,
main .sign-me-up .form-wrapper .form-group select,
main .sign-me-up .form-wrapper .form-group textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-radius: 8px;
  box-sizing: border-box;
}
main .sign-me-up .form-wrapper .form-group input::-moz-placeholder, main .sign-me-up .form-wrapper .form-group select::-moz-placeholder, main .sign-me-up .form-wrapper .form-group textarea::-moz-placeholder {
  color: #aaafb2;
  font-family: "sofia_proregular";
  font-size: 1.6rem;
  line-height: 1;
}
main .sign-me-up .form-wrapper .form-group input::placeholder,
main .sign-me-up .form-wrapper .form-group select::placeholder,
main .sign-me-up .form-wrapper .form-group textarea::placeholder {
  color: #aaafb2;
  font-family: "sofia_proregular";
  font-size: 1.6rem;
  line-height: 1;
}
main .sign-me-up .form-wrapper .form-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(./images/arrow.svg) no-repeat right 10px center;
}
main .sign-me-up .form-wrapper .form-group textarea {
  resize: none;
  line-height: 1.5;
  field-sizing: content;
  min-height: 5lh;
}

footer {
  background: #15364c;
}
@media only screen and (min-width: 768px) {
  footer {
    margin-top: 100px;
  }
}
footer .footer-wrapper {
  gap: 12rem;
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }
  footer .footer-wrapper img {
    margin-top: 15px;
  }
}
footer ul {
  padding: 0 15px;
}
footer ul li a {
  display: block;
  color: #fff;
  font-family: "brandon_grotesqueregular";
  font-size: 1.45rem;
  letter-spacing: 1.06px;
}
footer ul li ~ li {
  margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
  .add-flex {
    flex-wrap: wrap;
  }
  .button {
    padding: 0 2rem;
    font-size: 1.3rem;
  }
  header .header .book {
    font-size: 1rem;
  }
  header .header .book a {
    text-decoration: none;
  }
  .theme-section .logoWrapper {
    font-size: 5rem;
  }
  .theme-section .logoWrapper img {
    max-width: 30px;
  }
}/*# sourceMappingURL=stylesheet.css.map */