html {
  font-size: 62.5%;
}

body {
  font-family: "ralewayregular";
  font-size: 1.4rem;
  color: #15364c;
  line-height: 1.4;
}

.row {
  margin-inline: auto;
  max-width: 1440px;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.yellow-50-bg {
  background: #f9f6f4;
}

.yellow-100 {
  color: #e7e1d9;
}

.yellow-100-bg {
  background: #e7e1d9;
}

.yellow-200 {
  color: #e9e1d7;
}

.pink-100 {
  color: #edcfcc;
}

.pink-50-bg {
  background: #e8d0cd;
}

.blue-50 {
  color: #cddbe3;
}

.blue-50-bg {
  background: #cddbe3;
}

.blue-100 {
  color: #cadbe4;
}

.blue-200 {
  color: #a6c3d2;
}

.blue-200-bg {
  background: #a6c3d2;
}

.blue-300 {
  color: #9fc4d4;
}

.add-flex {
  display: flex;
}
.add-flex.direction-column {
  flex-direction: column;
}
.add-flex.gap-1 {
  gap: 1rem;
}
.add-flex.gap-2 {
  gap: 2rem;
}
.add-flex.gap-2d5 {
  gap: 2.5rem;
}
.add-flex.gap-02 {
  gap: 0.02em;
}
.add-flex.gap-3 {
  gap: 3rem;
}
.add-flex.gap-3d5 {
  gap: 3.5rem;
}

.text-center {
  text-align: center;
}

.sofia_prolight {
  font-family: "sofia_prolight";
}

.palmer_lake_printregular {
  font-family: "palmer_lake_printregular";
}

.raleway-800 {
  font-family: "Raleway";
  font-weight: 800;
}

.button {
  background: #e8d0cd;
  border: 0;
  height: 40px;
  line-height: 40px;
  font-family: "brandon_grotesquebold";
  font-size: 1.7rem;
  border-radius: 9px;
  padding: 0 8rem;
}

header {
  position: relative;
}
header .header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 15px;
}
header .header > div {
  flex: 1;
}
header .header .book {
  font-family: "brandon_grotesquebold";
  font-size: 1.7rem;
}
header .header .book a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 0.2em;
}
header .header .logo {
  text-align: center;
}
header .header .hamburger-wrapper {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}
header .header .hamburger-wrapper .hamburger::after, header .header .hamburger-wrapper .hamburger::before {
  content: "";
  width: 23px;
  height: 2px;
  background: #fff;
  display: block;
}
header .header .hamburger-wrapper .hamburger span {
  width: 23px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 6px 0;
}

.theme-section {
  background: #15364c;
  min-height: calc(100vh - 12px);
  position: relative;
  display: grid;
  place-content: center;
}
.theme-section .logoWrapper {
  font-weight: bold;
  font-size: 12rem;
  display: grid;
  place-items: center;
  line-height: 1.1;
}
.theme-section .indicator {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.color-bar {
  display: flex;
}
.color-bar > div {
  flex: 1;
  height: 12px;
}

main .main-row {
  max-width: 744px;
  margin-inline: auto;
}
main .okay-humans {
  padding-bottom: 6rem;
}
main .okay-humans .button {
  margin-top: 4rem;
}
main h2 {
  font-size: 3.6rem;
  margin: 1.5em 0 1em;
  font-family: "Raleway";
  font-weight: 800;
  text-shadow: 2px 2px #e8d0cd;
}
main h6 {
  font-family: "brandon_grotesquemedium";
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 24px 0;
}
main h6::after, main h6::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #979797;
  flex: 1;
  opacity: 0.23;
}
main .body-text {
  font-size: 1.6rem;
  color: #2f6079;
  font-family: "sofia_prolight";
  letter-spacing: 0.17px;
  line-height: 1.65;
}
main .our-story {
  padding: 24px 0 36px;
  display: grid;
  gap: 24px;
  color: #2f6079;
}
main .our-story a {
  color: #2f6079;
  text-decoration: underline;
  text-underline-offset: 3px;
}
main .our-story .christy-layer {
  background: url(./images/christy-layer.svg) no-repeat right center;
  padding: 0 15px 15px 0;
}
main .our-story .christy-layer img {
  border-radius: 5px;
}
main .our-story .otherPeople-layer {
  background: url(./images/otherPeople-layer.svg) no-repeat right center;
  padding: 0 15px 15px 0;
}
main .our-story .otherPeople-layer img {
  border-radius: 5px;
}
main .our-story .our-story-note {
  font-size: 2.8rem;
}
main .how-it-works {
  padding: 24px 0 36px;
  display: grid;
  gap: 24px;
}
main .how-it-works .work-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 2.3rem;
}
main .how-it-works img {
  align-self: center;
}/*# sourceMappingURL=stylesheet.css.map */